<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClickTodo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.home_page') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('main.member_page') }}">My Dashboard</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block body %}
        {% endblock %}
    </main>

    <footer>
        <p style="text-align: center;">&copy; {{ current_year }} ClickTodo</p>
    </footer>

</body>
</html>
